<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!-- TODO slf4j and another log library import required. -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
<!--             <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-3level %logger{5} - %msg %n</pattern> -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-3level %logger{5} - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="consoleByTRACE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- convert level TRACE -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-3level %logger{5} - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}/spring-%d{yyyyMMdd}_%i.log</fileNamePattern>
            <!-- created log file delete after 30day -->
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy:MM:dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{35} : %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="fileByTRACE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- convert level TRACE -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}/spring-trace-%d{yyyyMMdd}_%i.log</fileNamePattern>
            <!-- created log file delete after 30day -->
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy:MM:dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{35} : %msg %n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <springProfile name="local">
            <appender-ref ref="console"/>
            <appender-ref ref="file"/>
        </springProfile>
        <springProfile name="dev">
            <appender-ref ref="console"/>
            <appender-ref ref="fileByTRACE"/>
        </springProfile>
        <springProfile name="prd">
            <appender-ref ref="console"/>
            <appender-ref ref="fileByTRACE"/>
        </springProfile>
        <springProfile name="test">
            <appender-ref ref="console"/>
        </springProfile>
    </root>

</configuration>