<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<meta charset="utf-8">
    <!--/* Footer */-->
    <footer class="footer" th:fragment="footer">
        <img src="/resources/img/logo_f.png" alt="PONYBIT" class="logo" />
        <p>
            <span>블록체인마굿간 주식회사</span>
            <span>대표 김대호</span>
            <span>문의 <a class="d-inline" href="mailto:admin@ponybit.io">admin@ponybit.io</a></span>
        </p>
        <p>
            <span>서울시 서초구 강남대로 479</span>
            <span>사업자등록번호 8813-88-01460</span>
        </p>
        <p>
            <a class="cursor-pointer" href="https://open.kakao.com/o/gn36NHvb" target="_blank">카카오 오픈채팅 바로가기</a>
        </p>
        <p>
            <img src="/resources/img/txt_copyright.png" alt="© 2019 PONYBIT" />
        </p>
    </footer>
</html>
