<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!--/* Header */-->
    <head th:fragment="header">
        <meta charset="UTF-8">
        <title>포니빗(Ponybit)</title>
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="icon" href="/favicon.ico">

        <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" th:href="@{/resources/css/4.1.3.bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/resources/css/swiper.min.css}">
        <link rel="stylesheet" th:href="@{/resources/css/home.css}">

        <script th:src="@{/resources/js/3.3.1.jquery.min.js}"></script>
        <script th:src="@{/resources/js/1.14.7.popper.min.js}"></script>
        <script th:src="@{/resources/js/4.1.3.bootstrap.min.js}"></script>

        <link rel="stylesheet" th:href="@{/resources/css/5.2.0.fontAwesome.min.css}">

        <script th:src="@{/resources/js/common.js}"></script>
        <link rel="stylesheet" th:href="@{/resources/css/common.css}">
    </head>
</html>